services:
  app:
    build: ../app
    container_name: phase4_app
    restart: always
    ports:
      - "80:3000"

  node_exporter:
    image: prom/node-exporter:latest
    container_name: phase4_node_exporter
    restart: always
    command:
      - '--path.rootfs=/host'
    pid: host
    volumes:
      - '/:/host:ro,rslave'

  prometheus:
    image: prom/prometheus:latest
    container_name: phase4_prometheus
    restart: always
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    container_name: phase4_grafana
    restart: always
    ports:
      - "3000:3000"
